table {
    background-color: beige;
    font-family: Lucida Console;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

td.padding10 {
    padding: 10px;
}

td.padding20 {
    padding: 20px;
}
