table.t1 {
    background-color: beige;
    font-family: Baskerville;
    border-collapse: collapse;
    width: 100%;
}

table.t2 {
    background-color: cornsilk;
    font-family: Baskerville;
    border-collapse: collapse;
    width: 40px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}



/*  ----------  Padding - START  --------  */

padding10 {
    padding-left: 10px;
}

padding20 {
    padding-left: 20px;
}

padding30 {
    padding-left: 30px;
}

/*  ----------  Padding - END  ----------    */
